.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

body {
  /* background: #404040; */
  color: rgb(84,84,84);
  /* font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif; */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#map-container {
  border: 3px solid red;
}

.navbar {
  border: 1px solid rgb(34,168,158);
  margin: 0;
  padding: 10px;
}

#logo-img {
  padding: 10px;
  float: right;
  margin-right: 5%
}

.searchbar-div {
  padding: 5px 0;
  border-bottom: 1px solid rgb(34,168,158);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-sm-2 {
  margin: 10px;
}

#searchButton {
  align-self: center;
  /* margin: 5%; */
  border: 1px solid rgb(34,168,158);
}

#searchButton:hover {
  background-color:rgba(34,168,158,0.2);
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: rgb(34,168,158);
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

