h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

/* a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
} */

.heading {
  background-color: rgb(229,229,229);
  border-bottom: 1px solid rgb(200,200,200);
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  text-align: left;
}

.listings .item {
  display: block;
  border-bottom: 1px solid rgb(200,200,200);
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: rgb(84,84,84);
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title
.listings .item .title:hover { color: rgb(34,168,158); }

.listings .item.active,
.listings .item:hover {
  background-color:rgba(34,168,158,0.2);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(34,168,158);
  border-radius: 0;
}
