body {
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tweak the styles of the form fields so that the mobile browser does not zoom in on them on focus. */
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
/* We are also setting the width of the input type file to prevent the page on mobile from overflowing and adding a scrollbar. */
input[type=file] {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. listings
 * 3. map
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell sidebar to share a row */
  .listings { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 8 0px; }
  .listings { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}